<h3>Required libraries for creating a database</h3>

In [10]:
!pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.10-cp313-cp313-macosx_15_0_arm64.whl
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [1]:
!pip install requests python-dotenv

Collecting requests
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting python-dotenv
  Downloading python_dotenv-1.1.0-py3-none-any.whl.metadata (24 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.4.2-cp313-cp313-macosx_10_13_universal2.whl.metadata (35 kB)
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.4.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2025.4.26-py3-none-any.whl.metadata (2.5 kB)
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.2-cp313-cp313-macosx_10_13_universal2.whl (199 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.4.0-py3-none-any.whl (128 kB)
Downloading python_dotenv-1.1.0-py3-none-any.whl (20 kB)
Downloading certifi-2025.4.26-py3-none-any.whl (159 kB)
Installing collected packages: urllib3, python-dotenv, idna, charset-normalizer, certifi, requests
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6/6 [requests]
Successfully installed certifi-2025.4.26 charset-normalizer-3.4.2 idna-3.10 python-dotenv-1.1.0 requests-2.32.3 urllib3-2.4.0

<h3>Database creation in Neon</h3>

In [2]:
import os
import requests
from dotenv import load_dotenv

load_dotenv()

NEON_API_KEY = os.getenv("NEON_API_KEY")
PROJECT_ID = os.getenv("PROJECT_ID")
BRANCH_ID = "br-falling-paper-a8xmzet9"

headers = {
    "Authorization": f"Bearer {NEON_API_KEY}",
    "Content-Type": "application/json"
}

def create_neon_database(database_name):
    url = f"https://console.neon.tech/api/v2/projects/{PROJECT_ID}/branches/{BRANCH_ID}/databases"
    
    payload = {
        "database": {
            "name": database_name,
            "owner_name": "neondb_owner"
        }
    }
    
    try:
        response = requests.post(url, json=payload, headers=headers, timeout=10)
        response.raise_for_status()
        print(f"Database '{database_name}' created successfully!")
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error: {e}\nResponse: {e.response.text if e.response else ''}")
        return None

create_neon_database("red7_db")

Database 'red7_db' created successfully!

{'database': {'id': 1890434,
  'branch_id': 'br-falling-paper-a8xmzet9',
  'name': 'red7_db',
  'owner_name': 'neondb_owner',
  'created_at': '2025-06-09T09:09:31Z',
  'updated_at': '2025-06-09T09:09:31Z'},
 'operations': [{'id': 'ab73b707-87de-4e26-b863-0b67eff43918',
   'project_id': 'small-frog-40177030',
   'branch_id': 'br-falling-paper-a8xmzet9',
   'endpoint_id': 'ep-rapid-water-a86zpa0x',
   'action': 'apply_config',
   'status': 'running',
   'failures_count': 0,
   'created_at': '2025-06-09T09:09:31Z',
   'updated_at': '2025-06-09T09:09:31Z',
   'total_duration_ms': 0}]}

<h3>Tables creation in the database </h3>

In [5]:
import psycopg2

#url to connect to the database
conn_string = "postgresql://neondb_owner:npg_gCvztMWnb3G7@ep-rapid-water-a86zpa0x-pooler.eastus2.azure.neon.tech/red7_db?sslmode=require"

try:
    #establishing connection
    conn = psycopg2.connect(conn_string)
    cursor = conn.cursor()
    
    #list of SQL statements
    create_tables_sql = [
        """
        CREATE TABLE IF NOT EXISTS users (
            id SERIAL PRIMARY KEY,
            login VARCHAR(50) UNIQUE NOT NULL,
            password VARCHAR(255) NOT NULL,
            created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
            last_visited TIMESTAMP WITH TIME ZONE
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS profiles (
            user_id INTEGER PRIMARY KEY REFERENCES users(id) ON DELETE CASCADE,
            name VARCHAR(100) NOT NULL,
            avatar VARCHAR(255)
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS statistics (
            user_id INTEGER PRIMARY KEY REFERENCES users(id) ON DELETE CASCADE,
            total_played INTEGER DEFAULT 0,
            wins INTEGER DEFAULT 0,
            cur_straight_wins INTEGER DEFAULT 0,
            max_straight_wins INTEGER DEFAULT 0
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS achievements (
            id SERIAL PRIMARY KEY,
            name VARCHAR(100) NOT NULL,
            description TEXT
        );
        """,
        """
        CREATE TABLE user_achievements (
            user_id INTEGER REFERENCES users(id) ON DELETE CASCADE,
            achievement_id INTEGER REFERENCES achievements(id) ON DELETE CASCADE,
            PRIMARY KEY (user_id, achievement_id)
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS game_rooms (
            room_id SERIAL PRIMARY KEY,
            assigned_id VARCHAR(50) UNIQUE NOT NULL,
            password VARCHAR(100) DEFAULT '00000',
            game_state VARCHAR(20) NOT NULL DEFAULT 'waiting' 
                CHECK (game_state IN ('waiting', 'playing', 'finished'))
        );
        """,
        """
        CREATE TABLE user_room (
            user_id INTEGER REFERENCES users(id) ON DELETE CASCADE,
            room_id INTEGER REFERENCES game_rooms(room_id) ON DELETE CASCADE,
            PRIMARY KEY (user_id, room_id)
        );
        """
    ]
    
    #executing each SQL statement
    for sql in create_tables_sql:
        cursor.execute(sql)
    
    #commiting all changes
    conn.commit()
    print("All tables created successfully!")

except Exception as e:
    print(f"Error: {e}")
    #in case of errors, go back to the previous database state
    conn.rollback()

finally:
    #closing the connection
    if conn:
        cursor.close()
        conn.close()

All tables created successfully!

<h3>Example on how to work with the database</h3>

In [6]:
from psycopg2.pool import SimpleConnectionPool
import os
from dotenv import load_dotenv

load_dotenv()

#initializing pool at application startup
pool = SimpleConnectionPool(
    minconn=1,        #minimum connections to keep ready
    maxconn=5,        #maximum connections to create
    dsn=f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASS')}@ep-rapid-water-a86zpa0x-pooler.eastus2.azure.neon.tech/red7_db?sslmode=require"
)
try:
    #establishing connection
    conn = pool.getconn()
    cursor = conn.cursor()

    #creating SQL statement for users table
    insert_sql_users = """
    INSERT INTO users (login, password)
    VALUES (%s, %s)
    RETURNING id;
    """
    #the data to insert
    user_data = ('ryan_gosling@gmail.com', 'superComplicatedPW!!52')
    #executing the SQL statement
    cursor.execute(insert_sql_users, user_data)
    user_id = cursor.fetchone()[0] #retrieving the auto-generated ID after inserting a new record into a database
    print(f'User with id {user_id} was added into users table')

    #creating SQL statement for profiles table
    insert_sql_profiles = """
    INSERT INTO profiles (user_id, name, avatar)
    VALUES (%s, %s, %s);
    """
    #the data to insert
    user_data = (user_id, 'Ryan Gosling', 'https://i.etsystatic.com/26916437/r/il/daad50/6130041609/il_570xN.6130041609_kojv.jpg')
    #executing the SQL statement
    cursor.execute(insert_sql_profiles, user_data)
    print(f'User with id {user_id} was added into profile table')

    #comitting changes to database
    conn.commit()

    #creating SQL statement for retrieving the data
    select_sql = [
        "SELECT * FROM users;",
        "SELECT * FROM profiles;"
    ]

    #executing the SQL statements one by one
    for sql in select_sql:
        cursor.execute(sql)
        results = cursor.fetchall()  #fetching the results
        print(f"Results for {sql.split()[3]}: {results}")

except Exception as e:
    print(f"Error: {e}")
    #in case of errors, going back to the previous database state
    conn.rollback()

finally:
    if 'conn' in locals():  #checking if connection exists
        if 'cursor' in locals():
            #closing cursor
            cursor.close()

        #returning connection to the pool (IMPORTANT!)
        pool.putconn(conn)

User with id 1 was added into users table
User with id 1 was added into profile table
Results for users;: [(1, 'ryan_gosling@gmail.com', 'superComplicatedPW!!52', datetime.datetime(2025, 6, 9, 20, 13, 33, 283396, tzinfo=datetime.timezone.utc), None)]
Results for profiles;: [(1, 'Ryan Gosling', 'https://i.etsystatic.com/26916437/r/il/daad50/6130041609/il_570xN.6130041609_kojv.jpg')]

<h2>About Neon</h2>

For storing our database, we decoded to use Neon. Neon is a cloud-native Postgres solution that offers a serverless, fully managed, and scalable Postgres database.

Since are using Neon Free Tier, we have some usage limitations per month for a project:
1) 0.5 GB storage limit
2) Compute usage of 191.9 hours
3) Branch Compute of 5 hours
4) Data transfer of 5 GB

To use the recources wisely, we will:
1) Use connection pooling (SimpleConnectionPool from psycopg2.pool)
2) Monitor storage growth and clean up test data
3) Make sure to not over-provision the CUs and their RAM
4) Consider keep-alives every 5 minutes to prevent often cold starts (needed in case of using the database for a long time in a row)
5) Create branches only if they are necessary